@font-face {
    font-family: 'Bebas';
    src: url(../css/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(../css/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-SB';
    src: url(../css/fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'BentonSansBold';
    src: url(../css/fonts/benton-sans-bold.ttf) format('truetype');
}